@import "vars";
@import "mixins";

.catalogItems {
  margin-top: 96px;

  h1 {
    color: #222;
    @include fontStyle1(400, 30px);
    text-align: center;
  }

  .description {
    color: #9F9F9F;
    @include fontStyle1(400, 14px);
    margin-top: 6px;
    text-align: center;
  }

  &___items {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 57px;
    gap: 30px;
  }

  &__item {
    background-color: #F8F8F8;
    background-repeat: space;
    background-position: center;
  }

  &__photo {
    position: relative;
  }

  &_fill {
    display: none;
  }

  &__item:hover .catalogItems_fill {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(58, 56, 56, 0.86);
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &_button {
    display: flex;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    min-width: 139px;
    padding-top: 11px;
    padding-bottom: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: #FFF;
    @include fontStyle1(400, 14px);
  }

  &__text {
    padding: 24px 16px;
  }

  &__title {
    color: #000;
    @include fontStyle1(40, 13px);
  }

  &__description {
    color: #5D5D5D;
    @include fontStyle1(300, 14px);
    margin: 16px 0;
  }

  &__price {
    color: $exclusiveColor;
    @include fontStyle1(400, 16px);
  }

  .buttons {
    display: flex;
  }

  &__allButton {
    color: #F26376;
    @include fontStyle1(400, 16px);
    margin: 38px auto 95px auto;
    padding: 15px 39px 14px 39px;
    background-color: #FFF;
    border: 1px solid #F25822;
    cursor: pointer;
  }

  &__allButton:hover {
    background-color: $exclusiveColor;
    color: #FFF;
  }
}

@media (max-width: 770px) and (min-width: 376px) {
  .catalogItems {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 109px;
  }
}

@media (max-width: 375px) {
  .catalogItems {
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 64px;
  }
}