@import "vars";
@import "mixins";

.catalog {
  &__filter {
    color: #6F6E6E;
    @include fontStyle1(400, 14px);
    @include flexCenter();
    justify-content: space-between;

    height: 132px;

    summary {
      @include flexCenter();
    }

    details {
      position: relative;
    }
  }

  &__filterLeftSide {
    color: #6F6E6E;

    summary {
      @include flexCenter();
      justify-content: flex-start;
    }

    .catalog__detailsBox2 {
      @include flexCenter();
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      padding: 20px;
      color: #6F6E6E;
      @include fontStyle1(400, 14px);

      a {
        color: #6F6E6E;
      }
    }

    & > :first-child {
      color: #000;
      font-weight: 600;
    }

    & > :first-child::after {
      content: url("../img/filter_icon2.svg");
      margin-left: 15px;
    }

    .catalog__detailsBox {
      #filterButton {
        color: $exclusiveColor;
        font-weight: 600;
      }

      background-color: #FFF;
      box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
      padding: 20px;
      width: 360px;
      top: -16px;
      margin-top: 5px;

      details[open] summary {
        color: $exclusiveColor;
      }
    }
  }

  &__menuFilter > :first-child svg {
    margin-left: 15px;

    path {
      fill: $exclusiveColor;
    }
  }

  &__filterCenterSide {
    @include flexCenter();
    gap: 30px;

    summary::after {
      content: url("../img/filter_icon.svg");
    }

    summary {
      @include flexCenter();
      gap: 15px;
      position: relative;
    }

    .catalog__detailsBox {
      background-color: #FFF;
      box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
      padding: 10px;
      width: 80px;
      left: -10px;
      margin-top: 5px;
    }
  }

  &__filterRightSide {
    width: 110px;
  }

  .catalogItems___items {
    padding-top: 0;
  }

  &__pages {
    margin-top: 48px;
    margin-bottom: 96px;
  }

  &__detailsBox {
    @include flexCenter();
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    z-index: 3;

    details {
      width: 100%;
    }
  }

  &__menuSize, &__menuTrending, &__menuFilter, &__menuPrice {
    position: absolute;
  }

  &__topLevel {
    border-left: 5px solid $exclusiveColor;
    padding: 10px;
    border-bottom: 1px solid #EBEBEB;
    width: 100%;
  }
}

.pagination {
  &__leftButton, &__rightButton {
    cursor: pointer;
  }

  margin-left: auto;
  margin-right: auto;
  height: 44px;
  border: 1px solid rgb(235, 235, 235);
  @include flexCenter();
  width: 240px;
  gap: 15px;
  @include fontStyle1(400, 16px);
  color: #C4C4C4;

  a {
    color: #C4C4C4;
  }
}