@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin fontStyle1($fontWeight) {
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: $fontWeight;
}