@import "vars";
@import "mixins";

.productSlider {
  .bigContainer {
    background-color: rgb(247, 247, 247);
    Height: 777px;
    @include flexCenter();
    justify-content: space-between;
    border: 2px solid rgb(234, 234, 234);
  }

  &__button {
    height: 47px;
    width: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    @include flexCenter();
    cursor: pointer;
  }
}