@import "vars";
@import "mixins";

.description {
  @include fontStyle1(300);

  .container {
    position: relative;
    min-height: 550px;
  }

  &__content {
    width: 100%;
    position: absolute;
    border: 2px solid rgb(234, 234, 234);
    padding: 65px;

    @include flexCenter();
    flex-direction: column;

    top: -60px;
    background-color: white;
  }

  h1 {
    color: $exclusiveColor;
    font-size: 14px;
  }

  &__line {
    height: 3px;
    width: 63px;
    background-color: #EF5B70;
    margin: 12px 0 12px;
  }

  h2 {
    font-size: 18px;
    color: rgb(77, 77, 77);
  }

  &__text {
    font-size: 14px;
    color: rgb(94, 94, 94);
    margin-top: 48px;
    width: 555px;
    text-align: center;
  }

  &__price {
    font-size: 24px;
    color: rgb(239, 91, 112);
    margin-top: 33px;
  }

  &__line2 {
    height: 1px;
    width: 642px;
    background-color: #EAEAEA;
    margin: 65px 0 65px;
  }

  &__filter {
    font-size: 14px;
    color: rgb(111, 110, 110);
    width: 50%;
    @include flexCenter();
    justify-content: space-evenly;
  }

  &__filterItem summary::after {
    content: url("../img/filter_icon.svg");
  }

  &__filterItem summary{
    @include flexCenter();
    gap: 10px;
  }

  .feturedItems_button {
    margin-top: 48px;
    color: $exclusiveColor;
    border-color: $exclusiveColor;
    width: 212px;
  }
}