@import "vars";
@import "mixins";

.shoppingCart {
  @include flexCenter();
  @include fontStyle1(400);
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: flex-start;

  &__leftSide {
    @include flexCenter();
    flex-direction: column;
    gap: 30px;
  }

  &__rightSide {
    @include flexCenter();
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
  }

  &__shippingAdress {
    @include flexCenter();
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;

    form {
      @include flexCenter();
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;

      width: 100%;

      h1 {
        font-size: 16px;
        margin: 0;
        padding: 0;
      }

      label {
        width: 100%;
      }

      input {
        font-size: 13px;
        color: #B1B1B1;
        padding: 15px;
        width: 100%;
        border: 1px solid #A4A4A4;
      }
    }
  }

  &__total {
    margin-top: 50px;
  }

  .total {
    @include flexCenter();
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    color: #4A4A4A;
    background-color: #F5F3F3;
    padding: 40px;

    &__subtotal {
      font-size: 11px;
    }

    &__grandtotal {
      font-size: 16px;
    }

    &__subPrice {
      margin-left: 20px;
    }

    &__grandPrice {
      color: $exclusiveColor;
      font-weight: 600;
      margin-left: 20px;
    }

    &__button {
      width: 100%;
      padding: 20px;
      background-color: $exclusiveColor;
      border: none;
      color: #FFF;
      margin-top: 25px;
    }
  }

  .shoppingItem {
    width: 652px;
    position: relative;

    &__rightSideContent {
      width: 200px;
      margin-top: 20px;
      color: #656565;

      h1 {
        font-size: 24px;
        margin-bottom: 40px;
        color: #222222;
      }

      p {
        margin: 5px 0;
        font-size: 22px;
      }
    }

    &__price {
      color: $exclusiveColor;
    }

    &__quantity {
      width: 50px;
      text-align: center;
      margin-left: 30px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border: 1px solid rgb(234, 234, 234);
    }

    &__wrap {
      box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
      @include flexCenter();
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
    }

    &__crossButton {
      position: absolute;
      top: 25px;
      right: 20px;
      cursor: pointer;
    }
  }

  &__buttons {
    padding-top: 50px;
    @include flexCenter();
    width: 100%;
    justify-content: space-between;
  }

  &__button {
    padding: 15px;
    background-color: #FFF;
    border: 1px solid #A4A4A4;
    color: #000;
  }

  &__button_leftSife {
    width: 235px;
  }

  &__button_address {
    font-size: 11px;
    color: #4A4A4A;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

