@charset "UTF-8";
@import url(advantages.css);
@import url(footer.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  background: #FFF;
  color: #000;
  scroll-behavior: smooth; }

img {
  max-width: 100%;
  display: block; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.bigContainer {
  max-width: 1600px;
  margin: 0 auto; }

.navigation {
  background-color: #222;
  margin: 0 auto; }
  .navigation .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px; }
  .navigation__leftSide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 41px; }
  .navigation__rightSide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 41px; }
  .navigation__button {
    background-color: #222;
    border: none;
    cursor: pointer; }
  .navigation .buttonBasket {
    position: relative; }
  .navigation .basketCounter {
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: #F16D7F;
    border-radius: 50px;
    min-width: 19px;
    min-height: 19px;
    color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; }

.banner {
  background-color: #F1E4E6; }
  .banner .bigContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    gap: 0;
    position: relative; }
  .banner__rightSide {
    min-width: 800px;
    padding-left: 60px; }
  .banner__texts {
    color: #222;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 900;
    font-size: 48px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px; }
  .banner__text1 {
    color: #222;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    font-size: 32px; }
  .banner__text2 {
    color: #F16D7F;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    font-size: 32px; }

.mainMenu {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 232px;
  background-color: #FFF;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 232px;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  padding: 32px 33px 21px 33px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear; }
  .mainMenu h3 {
    color: #000;
    font-weight: 700;
    margin-bottom: 13px; }
  .mainMenu__firstLevel a {
    color: #F16D7F; }
  .mainMenu__secondLevel a {
    padding-left: 27px;
    color: #6F6E6E; }
  .mainMenu li {
    padding-top: 11px; }
  .mainMenu.active {
    visibility: visible;
    opacity: 1; }

.storeSections {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 65px;
  gap: 30px; }
  .storeSections__item {
    background-repeat: space;
    background-position: center; }
  .storeSections_forMen {
    background-image: url("../img/for_men.png");
    min-height: 260px; }
  .storeSections_forWoman {
    background-image: url("../img/for_woman.png");
    min-height: 260px; }
  .storeSections_forKids {
    background-image: url("../img/for_kids.png");
    min-height: 260px; }
  .storeSections_forMen .fill, .storeSections_forWoman .fill, .storeSections_forKids .fill {
    min-height: 260px; }
  .storeSections_accesories {
    background-image: url("../img/accesories.png");
    grid-column-start: 1;
    grid-column-end: 4;
    min-height: 180px; }
    .storeSections_accesories .fill {
      min-height: 180px; }
  .storeSections .fill {
    background-color: rgba(33, 22, 22, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column; }
  .storeSections__text1 {
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 16px; }
  .storeSections__text2 {
    color: #F16D7F;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center; }

.feturedItems {
  margin-top: 96px; }
  .feturedItems h1 {
    color: #222;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center; }
  .feturedItems .description {
    color: #9F9F9F;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    text-align: center; }
  .feturedItems___items {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 57px;
    gap: 30px; }
  .feturedItems__item {
    background-color: #F8F8F8;
    background-repeat: space;
    background-position: center; }
  .feturedItems__photo {
    position: relative; }
  .feturedItems_fill {
    display: none; }
  .feturedItems__item:hover .feturedItems_fill {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(58, 56, 56, 0.86);
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .feturedItems_button {
    display: flex;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    min-width: 139px;
    padding-top: 11px;
    padding-bottom: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: #FFF;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 14px; }
  .feturedItems__text {
    padding: 24px 16px; }
  .feturedItems__title {
    color: #000;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 13px; }
  .feturedItems__description {
    color: #5D5D5D;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 300;
    font-size: 14px;
    margin: 16px 0; }
  .feturedItems__price {
    color: #F16D7F;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 16px; }
  .feturedItems .buttons {
    display: flex; }
  .feturedItems__allButton {
    color: #F26376;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 38px auto 95px auto;
    padding: 15px 39px 14px 39px;
    background-color: #FFF;
    border: 1px solid #F25822;
    cursor: pointer; }
  .feturedItems__allButton:hover {
    background-color: #F16D7F;
    color: #FFF; }

.productSlider {
  background-color: #f7f7f7;
  border-width: 2px 0 2px;
  border-style: solid;
  border-color: #eaeaea; }
  .productSlider .bigContainer {
    background-color: #f7f7f7;
    height: 777px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-between; }
  .productSlider__button {
    height: 47px;
    width: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer; }
  .productSlider #carouselExampleIndicators {
    z-index: 0; }
  .productSlider .carousel .carousel-inner .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .productSlider .carousel-item {
    transition: opacity 1s !important; }
    .productSlider .carousel-item img {
      height: 777px;
      padding-bottom: 60px; }

.breadсrumbs {
  background-color: #F1E4E6; }
  .breadсrumbs .container {
    min-height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-between; }
  .breadсrumbs__leftSide {
    color: #F16D7F;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 24px; }
  .breadсrumbs__rightSide {
    color: #636363;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 14px; }
  .breadсrumbs__rightSide span {
    color: #F16D7F; }

.description {
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 300; }
  .description .container {
    position: relative;
    min-height: 550px; }
  .description__content {
    width: 100%;
    position: absolute;
    border: 2px solid #eaeaea;
    padding: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    top: -60px;
    background-color: white; }
  .description h1 {
    color: #F16D7F;
    font-size: 14px; }
  .description__line {
    height: 3px;
    width: 63px;
    background-color: #EF5B70;
    margin: 12px 0 12px; }
  .description h2 {
    font-size: 18px;
    color: #4d4d4d; }
  .description__text {
    font-size: 14px;
    color: #5e5e5e;
    margin-top: 48px;
    width: 555px;
    text-align: center; }
  .description__price {
    font-size: 24px;
    color: #ef5b70;
    margin-top: 33px; }
  .description__line2 {
    height: 1px;
    width: 642px;
    background-color: #EAEAEA;
    margin: 65px 0 65px; }
  .description__filter {
    font-size: 14px;
    color: #6f6e6e;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: space-evenly; }
  .description__filterItem summary::after {
    content: url("../img/filter_icon.svg"); }
  .description__filterItem summary {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px; }
  .description .feturedItems_button {
    margin-top: 48px;
    color: #F16D7F;
    border-color: #F16D7F;
    width: 212px; }

.recommended {
  margin: 128px 0 128px; }
  .recommended__items {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px; }

.catalog__filter {
  color: #6F6E6E;
  font-size: 14px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 132px; }
  .catalog__filter summary {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .catalog__filter details {
    position: relative; }
.catalog__filterLeftSide {
  color: #6F6E6E; }
  .catalog__filterLeftSide summary {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: flex-start; }
  .catalog__filterLeftSide .catalog__detailsBox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    color: #6F6E6E;
    font-family: Lato, sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400; }
    .catalog__filterLeftSide .catalog__detailsBox2 a {
      color: #6F6E6E; }
  .catalog__filterLeftSide > :first-child {
    color: #000;
    font-weight: 600; }
  .catalog__filterLeftSide > :first-child::after {
    content: url("../img/filter_icon2.svg");
    margin-left: 15px; }
  .catalog__filterLeftSide .catalog__detailsBox {
    background-color: #FFF;
    box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
    padding: 20px;
    width: 360px;
    top: -16px;
    margin-top: 5px; }
    .catalog__filterLeftSide .catalog__detailsBox #filterButton {
      color: #F16D7F;
      font-weight: 600; }
    .catalog__filterLeftSide .catalog__detailsBox details[open] summary {
      color: #F16D7F; }
.catalog__menuFilter > :first-child svg {
  margin-left: 15px; }
  .catalog__menuFilter > :first-child svg path {
    fill: #F16D7F; }
.catalog__filterCenterSide {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px; }
  .catalog__filterCenterSide summary::after {
    content: url("../img/filter_icon.svg"); }
  .catalog__filterCenterSide summary {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    position: relative; }
  .catalog__filterCenterSide .catalog__detailsBox {
    background-color: #FFF;
    box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
    padding: 10px;
    width: 80px;
    left: -10px;
    margin-top: 5px; }
.catalog__filterRightSide {
  width: 110px; }
.catalog .feturedItems___items {
  padding-top: 0; }
.catalog__pages {
  margin-top: 48px;
  margin-bottom: 96px; }
.catalog__detailsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  z-index: 3; }
  .catalog__detailsBox details {
    width: 100%; }
.catalog__menuSize, .catalog__menuTrending, .catalog__menuFilter, .catalog__menuPrice {
  position: absolute; }
.catalog__topLevel {
  border-left: 5px solid #F16D7F;
  padding: 10px;
  border-bottom: 1px solid #EBEBEB;
  width: 100%; }

.pagination {
  margin-left: auto;
  margin-right: auto;
  height: 44px;
  border: 1px solid #ebebeb;
  #display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 240px;
  gap: 15px;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 16px;
  color: #C4C4C4; }
  .pagination__leftButton, .pagination__rightButton {
    cursor: pointer; }
  .pagination a {
    color: #C4C4C4; }

.shoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Lato, sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: flex-start; }
  .shoppingCart__leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 30px; }
  .shoppingCart__rightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 360px; }
  .shoppingCart__shippingAdress {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%; }
    .shoppingCart__shippingAdress form {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;
      width: 100%; }
      .shoppingCart__shippingAdress form h1 {
        font-size: 16px;
        margin: 0;
        padding: 0; }
      .shoppingCart__shippingAdress form label {
        width: 100%; }
      .shoppingCart__shippingAdress form input {
        font-size: 13px;
        color: #222222;
        padding: 15px;
        width: 100%;
        border: 1px solid #A4A4A4; }
      .shoppingCart__shippingAdress form input::placeholder {
        color: #B1B1B1; }
  .shoppingCart__total {
    margin-top: 50px; }
  .shoppingCart .total {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    color: #4A4A4A;
    background-color: #F5F3F3;
    padding: 40px; }
    .shoppingCart .total__subtotal {
      font-size: 11px; }
    .shoppingCart .total__grandtotal {
      font-size: 16px;
      margin-top: 15px; }
    .shoppingCart .total__subPrice {
      margin-left: 20px; }
    .shoppingCart .total__grandPrice {
      color: #F16D7F;
      font-weight: 600;
      margin-left: 20px; }
    .shoppingCart .total__button {
      width: 100%;
      padding: 20px;
      margin-top: 20px; }
    .shoppingCart .total__line {
      height: 1px;
      width: 280px;
      background-color: #E2E2E2;
      margin-top: 25px; }
  .shoppingCart .shoppingItem {
    width: 652px;
    position: relative; }
    .shoppingCart .shoppingItem__rightSideContent {
      width: 200px;
      margin-top: 20px;
      color: #656565; }
      .shoppingCart .shoppingItem__rightSideContent h1 {
        font-size: 24px;
        margin-bottom: 40px;
        color: #222222; }
      .shoppingCart .shoppingItem__rightSideContent p {
        margin: 5px 0;
        font-size: 22px; }
      .shoppingCart .shoppingItem__rightSideContent label {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-content: flex-start; }
    .shoppingCart .shoppingItem__price {
      color: #F16D7F; }
    .shoppingCart .shoppingItem__quantity {
      width: 50px;
      text-align: center;
      margin-left: 30px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border: 1px solid #eaeaea;
      font-size: 18px; }
    .shoppingCart .shoppingItem__wrap {
      box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px; }
    .shoppingCart .shoppingItem__crossButton {
      position: absolute;
      top: 25px;
      right: 20px;
      cursor: pointer; }
  .shoppingCart__buttons {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content: space-between; }
  .shoppingCart__button {
    padding: 15px;
    background-color: #FFF;
    border: 1px solid #A4A4A4;
    color: #000;
    cursor: pointer; }
  .shoppingCart__button:hover {
    background-color: #F16D7F;
    border-color: #F16D7F;
    color: #FFF; }
  .shoppingCart__button_leftSife {
    width: 235px; }
  .shoppingCart__button_address {
    font-size: 11px;
    color: #4A4A4A;
    padding-top: 10px;
    padding-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
