@import "dafault";
@import "vars";
@import "navigation";
@import "banner";
@import "mainMenu";
@import "storeSections";
@import "feturedItems";
@import "advantages.css";
@import "footer.css";

@media (max-width: 1172px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 1213px) {
  .navigation .container {
    margin-left: 32px;
    margin-right: 41px;
  }
}

@media (max-width: 1145px) and (min-width: 715px) {
  .container {
    justify-content: center;
  }

  .container img {
    max-height: 386px;
  }

  .banner__rightSide {
    min-width: 386px;
    padding-left: 39px;
  }

  .brandTexts {
    font-size: 44px;
  }

  .brand_text1 {
    font-size: 24px;
  }

  .brand_text2 {
    font-size: 24px;
  }
}

@media (max-width: 950px) {
  .footer__content .container {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .footer__rightSide {
    min-width: 0;
  }
}

@media (max-width: 714px) {
  .container {
    justify-content: center;
    min-height: 364px;
  }

  .container img {
    display: none;
  }

  .banner__rightSide {
    min-width: 0;
    padding: 0;
  }

  .brandTexts {
    font-size: 38px;
    margin: 0 auto 0 auto;
  }

  .brand_text1 {
    font-size: 20px;
  }

  .brand_text2 {
    font-size: 20px;
  }
}

@media (max-width: 770px) {
  .fetured___items {
    gap: 16px;
  }

  .fetured__text {
    padding: 26px 18px;
  }

  .advantages {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .section2__items {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .footer__container {
    background-image: url("../img/footerBackground2.png");
  }

  .footer__content {
    padding-top: 64px;
    padding-bottom: 140px;
  }
}

@media (max-width: 770px) and (min-width: 376px) {
  .storeSections {
    gap: 20px;
  }

  .for_men, .for_woman, .for_kids {
    min-height: 168px;
  }

  .for_men .fill, .for_woman .fill, .for_kids .fill {
    min-height: 168px;
  }

  .accesories {
    min-height: 116px;
  }

  .accesories .fill {
    min-height: 116px;
  }

  .fetured___items {
    grid-template-columns: 1fr 1fr;
    padding-top: 72px;
  }

  .feturedItems {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 109px;
  }

  .fetured__allButton {
    margin: 33px auto 70px auto;
  }

  .fetured__description {
    margin: 13px 0;
  }
}

@media (max-width: 430px) {
  .socials .container {
    gap: 30px;
    flex-direction: column-reverse;
  }
}

@media (max-width: 375px) {
  .navigation .buttonProfile, .navigation .buttonBasket, .basketCounter {
    display: none;
  }

  .storeSections {
    grid-template-columns: 1fr;
  }

  .fetured___items {
    grid-template-columns: 1fr;
  }

  .accesories {
    grid-column-end: 2;
  }

  .for_men, .for_woman, .for_kids {
    min-height: 247px;
  }

  .for_men .fill, .for_woman .fill, .for_kids .fill {
    min-height: 247px;
  }

  .accesories {
    min-height: 111px;
    background-image: url("../img/accesories2.png");
  }

  .accesories .fill {
    min-height: 111px;
  }

  .feturedItems {
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 64px;
  }

  .fetured___items {
    padding-top: 65px;
  }

  .fetured__description {
    margin: 13px 0 18px 0;
  }

  .fetured__allButton {
    margin: 40px auto 85px auto;
  }

  .footer__email input {
    min-width: 0;
  }

  .footer__container {
    background-image: url("../img/footerBackground3.png");
  }
}